.contentWrap {
	max-width: em($contentWidth);
	margin: 0 auto;
	padding: 0 em(20);
}
section {
	position: relative;
}

.placeholder {
	width: 100%;
	position: absolute;
	top: em(20);
	bottom: 0;
	left: 0;
	background-image: url(/img/placeholdercarousel.jpeg);
	background-size: cover;
	background-position: center;
}

h1 {
	font-size: em($h1FontSize);
	font-weight: $light;
	text-align: center;
	font-family: $headingFontFamily;
	line-height: 1;
}

h2 {
	font-size: em($h2FontSize);
	font-weight: $regular;
	text-align: center;
	font-family: $tertiaryFontFamily;
}

p {
	padding-bottom: em(10);
}

// section colours //

.sectionDefaults {
	min-height: em(360);
	padding: em(30) 0;
	border-bottom: 1px solid lightgray;
}

.dark {
	@extend .sectionDefaults;
	background-color: darken($secondaryGray,5%);
}

.light {
	@extend .sectionDefaults;
	background-color: $secondaryGray;
}

.green {
	@extend .sectionDefaults;
	background-color: lighten($green,45%);
}

// heading stuff //

$module: 		'header';

.#{$module} {
	background-color: darken($secondaryGray,5%);
	padding: 0 em(30);
	position: relative;
	z-index: 2;

	&__family-panel {
		display: block;
		margin: 0 auto;
		width: em(150);
		height: auto;
		padding: 0 0 em(30);
	}

	h2 {
		text-decoration: underline;
		font-style: italic;
		padding-bottom: em(40,20);
		font-size: em(20);
		font-family: $headingFontFamily;
	}
	
}

// animation //

$module: 		'animation';
.#{$module} {
	text-align: center;
	margin-bottom: em(10);
	display: block;
	border: 0;
	text-decoration: none;
	outline: none;
	box-shadow: none;

	&__person {
		display: inline-block;
		margin: em(5);
		vertical-align: bottom;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&--m {
			width: em(55);
			height: em(145);
			background-image: url(/img/animation/man.png);
			@extend .#{$module}__person;
			@include animation(slide-left 4s 1s forwards ease-in);
		}

		&--f {
			width: em(68);
			height: em(144);
			background-image: url(/img/animation/woman.png);
			@extend .#{$module}__person;
			@include animation(slide-right 4s 1s forwards ease-in);
		}

		&--child-m {
			width: em(36);
			height: em(68);
			background-image: url(/img/animation/boy.png);
			@extend .#{$module}__person;
			@include animation(grow 4s 1s forwards ease-in);
		}

		&--child-f {
			width: em(44);
			height: em(71);
			background-image: url(/img/animation/girl.png);
			@extend .#{$module}__person;
			@include animation(grow 4s 1s forwards ease-in);
		}
	}
}

// pancake and nav //

$module: 		'pancake';

.#{$module} {
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
	z-index: 3;
	padding: em(10);
	background-color: $secondaryBlue;

	&__defaults {
		height: em(3);
		background-color: $white;
		width: em(30);
		margin-top: em(5);
	}

	&__top {
		@extend .#{$module}__defaults;
		margin-top: 0;
	}

	&__mid {
		@extend .#{$module}__defaults;
	}

	&__bot {
		@extend .#{$module}__defaults;
	}
}

$module: 		'topnav';

.#{$module} {
	position: fixed;
	z-index: 1;
	opacity: 0;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	background-color: rgba($black,0.8);
	@include transition(opacity 0.15s linear);

	.menu & {
		opacity: 1;
		z-index: 1;
		height: 100%;
		width: 100%;
	}
	&__items {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		@include transform(translateY(-50%));
	}
	&__item {
		display: block;
	}
	&__link {
		text-decoration: none;
		font-style: normal;
		color: $white;
		text-align: center;
		display: block;
		margin: 0;
		font-size: em(48);
		text-transform: lowercase;
		font-weight: 400;

		&:hover {
			background-color: rgba(darken($secondaryBlue,5%),0.4);
		}
	}
}

// copy //

$module: 		'copy';

.#{$module} {
	&__title {
		font-size: em(24);
		text-transform: lowercase;
		color: $secondaryBlue;
		font-weight: 600;
		text-align: left;
		padding-left: em(20,28);
		padding-bottom: em(10,$h2FontSize);
		position: relative;

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			background-color: transparent !important;
			@include linear-gradient(to right,rgba($secondaryBlue,0.4) 0%,rgba($secondaryBlue,0.4) 65%,transparent 100%);
		}
	}
}

// panels //

.panels {
	@include display(flex);
	@include justify-content(space-between);
	padding-top: em(30);
	@include perspective(1000px);	
}

$module:		'panel';
.#{$module} {
	width: 32%;
	padding-bottom: 32%;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	@include transform-style(preserve-3d);
	@include transition(transform 0.3s linear);
	cursor: pointer;

	&__front {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		backface-visibility: hidden;
		@include transition(transform 0.3s linear);
		@include transform(rotate3d(0,1,0,0));

		.#{$module}:nth-child(1) & {
			background-image: url(/img/mountain1.jpg);
		}
		.#{$module}:nth-child(2) & {
			background-image: url(/img/path.jpg);
		}
		.#{$module}:nth-child(3) & {
			background-image: url(/img/moon.jpg);
		}

		.active & {
			@include transform(rotate3d(0,1,0,180deg));
		}

		&:before {
			content: "";
			background-color: rgba($logoBlue,0.8);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__front-title {
		position: absolute;
		top: 50%;
		text-align: center;
		left: 0;
		right: 0;
		color: $white;
		font-weight: 600;
		@include transform(translateY(-50%));
	}

	&__back {
		backface-visibility: hidden;
		background-color: $secondaryBlue;
		color: $white;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include transition(transform 0.3s linear);
		@include transform(rotate3d(0,1,0,-180deg));
		padding: em(20);

		.active & {
			@include transform(rotateX(0)rotateY(0)rotateZ(0));
			box-shadow: -1px 1px 1px rgba(0,0,0,0.4);
		}
	}
}

// form stuff //

$module: 		'form';

.#{$module} {

	padding-top: em(30);

	&__inner {
		ul {
			&:first-child {
				float: left;
				margin-right: em(-300);
				width: em(300);
				padding-left: 0;
				position: relative;
				z-index: 2;

				@media(max-width: 900px) {
					float: none;
					width: auto;
					margin: 0 auto;
				}
			}

			float: right;
			width: 100%;
			padding-left: em(310);

			@media(max-width: 900px) {
				float: none;
				width: auto;
				padding: 0;
			}

			>li {
				margin-bottom: em(5);
			}
		}

	}

	&__text {

		.label {
			display: block;
			float: left;
			width: em(100);

			@media(max-width: 900px) {
				margin-right: em(-100);
			}
		}

		.flex {
			@media(max-width: 900px) {
				display: block;
				width: auto;
				margin-left: em(100);
			}
		}

		input {
			color: $baseGray;
			outline: none !important;
			border: 1px solid lightGray;
			padding: em(3) em(5);

			@media(max-width: 900px) {
				width: 100%;
			}
		}
	}

	&__textarea {
		width: 100%;
		padding: em(5) em(10);
		outline: none !important;
		border: 1px solid lightGray;
		font-family: $baseFontFamily;
		height: em(99);
		margin-top: 1px;
	}

}

// footer //

.footer {
	padding: em(50) 0;
	background-color: $secondaryBlue;
	color: $white;

	h2 {
		font-family: $tertiaryFontFamily;
		text-transform: lowercase;
	}
}







